body{
  margin: unset;
  background-color: #F3F7EC;
}
.testing{
  display: flex;
  flex-direction: row;
}
a{
  color: unset;
  text-decoration: none;
}
#root{
  /* color:#E88D67; */
}
.productForm{
  display: flex;
    color: black;
    border: solid rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    max-width: 300px;
    flex-direction: column;
    align-items: center;

}
.formItem{
  padding:10px
}
.ProductImg-S{
  max-block-size: 9rem;
}
html {
  scroll-behavior: smooth;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white ;
}
.smallImg{
  width: 150px;
  /* border: 2px solid rgba(0, 0, 0, 0.5); */
  margin: 10px;
}
.smallImg:hover{
  box-shadow: 2px 2px 2px 1px #000;
  cursor: pointer;

}
.smallImg:active{
  scale: 98%;
}
.smallImgSelect{
  width: 150px;
  margin: 10px;
  box-shadow: 2px 2px 2px 1px #941b1b;
  /* border: 2px solid #941b1b; */
}
.selectUser{
  display: flex;
    flex-wrap: wrap;
    width: 570px;

}